/*NAVBAR*/
.page-logo {
    height: 50px;
}

.navbar-dark .navbar-nav .nav-link,
.dropdown-item {
    color: #ffffff;
    font-size: 1.2em;
    font-weight: 400;
}

.navbar-dark .navbar-nav .nav-link:hover,
.dropdown-item:hover {
    color: #ffa600;
    background-color: #2b2b2b00;
    cursor: pointer;
}

.navbar-dark .navbar-nav .nav-item .active {
    color: #ffa600;
    font-weight: 500;
}

.navbar-dark .navbar-nav .nav-item .active:hover {
    color: #ffffff;
}

.dropdown-menu .active {
    color: #ffa600;
    font-weight: 500;
    background-color: #24242400;
}

.dropdown-menu .active:hover {
    color: #ffffff;
}

.dropdown-menu {
    background-color: #2b2b2b00;
    border: 0.1em solid #ffa600;
}

@media (min-width: 992px) {
    .dropdown-menu-profile {
        background-color: #2b2b2b;
        transform: translateX(-100%);
        margin-left: 4em;
    }
}